<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlaidClientID</key>
	<string>56108e3e1abbf9e13f581f8e</string>
	<key>PlaidClientSecret</key>
	<string>ca96cfa090220fd21b1952433b32df</string>
</dict>
</plist>
