<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JTI*TWITCHTV SUB SRVCS</key>
	<dict>
		<key>status</key>
		<string>Turbo</string>
		<key>name</key>
		<string>Twitch</string>
		<key>price</key>
		<string>8.99</string>
		<key>color</key>
		<string>100,65,165</string>
	</dict>
	<key>GITHUB.COM</key>
	<dict>
		<key>status</key>
		<string>Small</string>
		<key>name</key>
		<string>GitHub</string>
		<key>price</key>
		<string>5</string>
		<key>color</key>
		<string>21,16,19</string>
	</dict>
	<key>ADOBE *PHOTOGPHY PLAN</key>
	<dict>
		<key>status</key>
		<string>Photography</string>
		<key>name</key>
		<string>Adobe Creative Cloud</string>
		<key>price</key>
		<string>10.88</string>
		<key>color</key>
		<string>210,10,10</string>
	</dict>
	<key>DROPBOX db.tt/cchelp</key>
	<dict>
		<key>status</key>
		<string>Pro</string>
		<key>name</key>
		<string>Dropbox</string>
		<key>price</key>
		<string>9.99</string>
		<key>color</key>
		<string>0,126,229</string>
	</dict>
	<key>Spotify</key>
	<dict>
		<key>status</key>
		<string>Premium</string>
		<key>name</key>
		<string>Spotify</string>
		<key>price</key>
		<string>9.99</string>
		<key>color</key>
		<string>30,215,96</string>
	</dict>
</dict>
</plist>
