<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Repetera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBD7D27C1BC0555100831E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD7D2901BC0555100831E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD7D29B1BC0555100831E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
